<div class="container-fluid well image-wrapper">
  <div class="row">
  	<h3 style="text-align: center; color: #b94040;">YOUR UPLOADED DESIGN</h3>
    <div class="col-sm-3 image-item" ng-repeat="image in images" >
      <a ng-click="openModal(image);">
        <img class="img-responsive" src="/uploads/{{image.file}}" alt="File Not Found" />
        <button class="btn btn-danger" ng-click="removeImage(image,  $event);">X</button>
        <a class="downloadingImage" href="javascript:void(0);" style="position: relative;" ng-click="downloadImage1(image.file);" download><i class="fa fa-download" aria-hidden="true"></i></a>
      </a>
    </div>
  </div>
</div>

<div class="well custom-class" style="position: relative;height: {{ hgt }}px">
	<div class="row">
	  <h3 style="text-align: center; color: #b94040;">LETS CREATE NEW DESIGN</h3>	   
	     <div class="col-sm-7">
			<div ngf-drop ngf-select ng-model="files" class="drop-box" 
		    ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
		    accept="image/*" 
		    ngf-pattern="'image/*'"> CLICK TO CREATE AWESOME DESIGN.</div>
			<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			<div ng-show="showFilters">
				<input type="text" class="form-control" ng-model="inputText">
				<button class="btn btn-primary" ng-click="addText(inputText);" style="float: right; margin-top: 5px">Add Text</button>
				
			</div>
		</div>
		<div ng-show="showFilters">
		    <div id="slider" class="col-sm-3" >
		        <h3>Image Filters</h3>
			    <div class="custom-checkbox-input" ng-repeat="chk in chkbxs">		        
			        <label class="checkbox-inline">
				        <input type="checkbox" ng-model="chk.val" />
				        <span>{{chk.label}}</span>
			        </label>
			    </div> 
			    <div class="row">
			    	<div class="col-sm-3">
			    		<p class="slide">Rotate</p>
			    	</div>
			    	<div class="col-sm-9">
			    		<rzslider rz-slider-model="angleslider.value" rz-slider-options="angleslider.options"></rzslider>
			    	</div>
			    </div>
		    </div>
		    <div class="col-sm-2">
		    	<h3>Text Filters</h3>
		    	<div id="text-controls-additional">
		    		<div class="custom-checkbox-input">		        
				        <label class="checkbox-inline">
					        <input type="checkbox" name='fonttype' id="text-cmd-bold" />
					        <span>Bold</span>
				        </label>
			    	</div> 
					 <div class="custom-checkbox-input">		        
				        <label class="checkbox-inline">
					        <input type="checkbox" name='fonttype' id="text-cmd-italic" />
					        <span>Italic</span>
				        </label>
			    	</div> 
			    	<div class="custom-checkbox-input">		        
				        <label class="checkbox-inline">
					        <input type="checkbox" name='fonttype' id="text-cmd-underline" />
					        <span>Underline</span>
				        </label>
			    	</div> 
			    	<div class="custom-checkbox-input">		        
				        <label class="checkbox-inline">
					        <input type="checkbox" name='fonttype'  id="text-cmd-linethrough" />
					        <span>Linethrough</span>
				        </label>
			    	</div> 
					 <div class="custom-checkbox-input">		        
				        <label class="checkbox-inline">
					        <input type="checkbox" name='fonttype'  id="text-cmd-overline" />
					        <span>Overline</span>
				        </label>
			    	</div>        
					    
			    </div>
			    <div class="form-group">
				  <label for="font-family" >Font family:</label>
				  <select class="form-control" id="font-family">
				    <option value="arial" selected>Arial</option>
			        <option value="myriad pro">Myriad Pro</option>
			        <option value="georgia">Georgia</option>
			        <option value="courier">Courier</option>
				  </select>
				</div>
				
				<div class="form-group">
				  <label for="text-align" >Text align:</label>
				  <select class="form-control" id="text-align">
				    <option value="left">Left</option>
			        <option value="center">Center</option>
			        <option value="right">Right</option>
			        <option value="justify">Justify</option>
				  </select>
				</div>
				<div>
					<div class="form-group">
				  <label for="text-color">Text Color:</label>
				  <input type="color" class="form-control"  id="text-color" size="10">
				</div>
				<div class="form-group">
				  <label for="text-bg-color">Background color:</label>
				  <input type="color" value="" class="form-control"  id="text-bg-color" size="10">
				</div>
				<div class="form-group">
				  <label for="text-stroke-color">Stroke color:</label>
				  <input type="color" value="" class="form-control"  id="text-stroke-color">
				</div>
				<div class="form-group">
				  <label for="text-stroke-width">Stroke width:</label>
				  <input type="range" value="1" min="1" max="5" class="form-control"  id="text-stroke-width">
				</div>
				<div class="form-group">
				  <label for="text-font-size">Font size:</label>
				  <input type="range" value="" min="1" max="120" step="1"  class="form-control"  id="text-font-size">
				</div>
				</div>
		    </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-8" ng-show="fileUploaded" style="position: absolute; top:350px;">
				<canvas id="canvas" width="800px" height="500px" style="border: 1px solid #cecece"></canvas>
				<div class="pull-right" style="margin-top: 5px;">
					<button class="btn btn-success" ng-click="mainDownloadWidgetCapture()" id="saveBtn">Save</button>
					<a class="pull-right btn btn-primary " href="javascript:void(0);" id="downloadImage" ng-click="downloadImage()">Download</a>
					<button ng-click="clearCanvas();" class="btn btn-danger" style="    margin-right: 5px;">Clear Canvas</button>
				</div>
				
		</div>
	</div>
</div>



