<div class="modal-header">
            <button class="btn btn-primary pull-right" type="button" ng-click="close()">X</button>
        </div>
        <div class="modal-body" id="modal-body">
           <img class="img-responsive" src="/uploads/{{image.file}}" alt="File Not Found" />
        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" type="button" ng-click="close()">Close</button> -->
        </div>