body {
        padding: 10px;
}
.drop-box {
 background: #ccc;
 border: 5px dashed #ddd;
 width: 100%;
 height: 100px;
 text-align: center;
 padding-top: 35px;
 margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

.image-wrapper .image-item{
    height: 250px;
    margin: 0 0 15px;
    overflow: hidden;
    position: relative;
    background-color: rgba(200, 192, 212, 0.5);
    border: 1px solid #cecece;
}
.image-wrapper .image-item button{
   position: absolute;
   top: 5px;
   right: 5px;
}
/*--  Custom Checkbox Styles  --*/
.custom-checkbox-input input[type=checkbox]{
    position: absolute;
    opacity: 0;
    margin: 0;
}
.custom-checkbox-input input[type=checkbox]+span {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    padding: 0 0 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.custom-checkbox-input input[type=checkbox]+span:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #3b4d57;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    border: 2px solid #657F8B;
}
.custom-checkbox-input input[type=checkbox]:hover+span {
    color: #337ab7;
}
.custom-checkbox-input input[type=checkbox]:hover+span:before {
    border: 2px solid #657F8B;
    box-shadow: none;
}
.custom-checkbox-input input[type=checkbox]:disabled+span {
    color: #b8b8b8;
    cursor: auto;
}
.custom-checkbox-input input[type=checkbox]:disabled+span:before {
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ddd;
    border: 2px solid #ddd;
}

.custom-checkbox-input input[type=checkbox]:checked+span:before {
    background-color: #337ab7;
    border: 2px solid #337ab7;
}
.custom-checkbox-input input[type=checkbox]:checked+span {
    color: #337ab7;
}
.custom-checkbox-input input[type=checkbox]:checked+span:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #fff;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -moz-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
  
    background-color: #4CC713;
    color: white;
  
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

.buttonDownload:hover {
    background-color: #333;
    color: #cecece !important;
}

.buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
  
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    
    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #4CC713;
}

.buttonDownload:hover:after {
    border-top-color: #4CC713;
    animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }
    
    0.001% {
        margin-top: -15px;
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        margin-top: 0;
        opacity: 0;
    }
}

.slide {
        position: relative;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    padding: 0 0 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 20px;
}

#saveBtn {
    color: white;
    background-color: #4CC713 !important;
    border-color: #4cae4c;
    margin-right: 1px;
}

.downloadingImage {
    position: absolute !important;
    top: 5px;
    right: 45px;
    font-size: 20px
}